.button {
    height: 3.56rem;
    width: 10.62rem;
    border-radius: 2rem;
    background-color: $button-color;
}

.button-black {
    @extend .button ;
    color : $icons-color-black ;

}

.button-white {
    @extend .button ;
    color : #fff ;
    
}